*{
    background-color: black;
    color:whitesmoke;
    font-family: monospace;
}

/*BIENVENIDA*/

header{
    font-size: 25px;
    letter-spacing: 35px;   
    /*Propiedades del parrafo*/
    text-align: center;    
}

h2{
    /*Propiedades del espacio*/
    padding-left: 50%;
    line-height: 95%;
    /*Propiedades de la fuente*/
    font-size: 90px;
}

.primerparrafo{
    /*Propiedades del espacio*/
    padding: 0% 50% 5% 7%;
    /*Propiedades de la fuente*/
    font-size: 16px;
    /*Propiedades del parrafo*/
    text-align: right;
}

.mensajeinicio{
    /*Propiedades del espacio*/
    background-color:  darkred;
    padding: 3% 0% 3% 0%;
    /*Propiedades de la fuente*/
    font-size: 15px;
    /*Propiedades del parrafo*/
    text-align: center; 
}

/*SECCION CREAR*/

.crear{
    /*Propiedades del espacio*/
    margin-right: 50%;
    line-height: 90%;
    margin-left: 3%;
    /*Propiedades de la fuente*/
    font-size: 65px;
    text-align: right;
}

.instrucciones{
    margin-right: 50%;
    line-height: 98%;
    margin-left: 10%;
    /*Propiedades de la fuente*/
    font-size: 15px;
    text-align: justify;
}

.estilotextarea{
    /*Propiedades de la caja*/
    border: 2px double darkred;
    resize: none;
    text-transform: uppercase;
    margin-left: 7%
}

/*SECCIÓN LEER*/

.leer{
    /*Propiedades del espacio*/
    padding-left: 50%;
    line-height: 90%;
    /*Propiedades de la fuente*/
    font-size: 65px;
    display: inline-block;
    width: 45%;
}

.instruccionesleer{
    margin-left: 50%;
    line-height: 98%;
    margin-right: 10%;
    /*Propiedades de la fuente*/
    font-size: 15px;
    text-align: justify;
}